<%= link_to friendship_path(friendship.id) ,remote: true do %>
<li class="talk-room">
  <div class="talk-room-detail">
    <div class="user-image">
    <%= image_tag friendship.avatar.url(:thumb) ,class: "user-avatar" %>
    </div>
    <div class="user-info">
      <div class="user-name"><%= friendship.name %></div>
    </div>
  </div>
</li>
<% end %>
