<div class="friend-info">
  <div class="friend-info-top">
    <div class="friend-info-avatar">
      <%= image_tag user.avatar.url(:medium), class: "user-medium" %>
    </div>
    <div class="friend-info-name">
      <P><%= user.name %></P>
    </div>
  </div>
  <div class="friend-info-down">
    <% if findroom(user.id) %>
      <div class="friend-info-add">
        <%= link_to "トーク", rooms_create_path(user) %>
      </div>
    <% end %>
      <div class="friend-info-block">
        <%= link_to "ブロック", friendship_path(user.id) , method: :delete %>
      </div>
  </div>
</div>
