ul{
  margin:0;
  padding: 0;
}

body{
    background:#eee;
  }
a{
              -webkit-appearance: none;
              display:block;
              text-decoration: none;
              color:black;
}
a:hover{
  background:#eee;
}



  header{
    height:60px;
    width:100%;
    background-color:#666666;
  }
   .head-outer{width:1040px;
              height:60px;
              margin:0 auto;
              position: relative;
              }

    .icon{
              position:absolute;
              top:20px;
              left:10px;
              height:60px;
              color:white;
              font-weight: 600;
    }

    .user{
      position:absolute;
      top:20px;
      right:30px;
    }
    .user .name{
              color:white;
              font-weight: 600;
    }
    .sankaku{
      position:absolute;
      top:28px;
      right:10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #3f3f3f transparent transparent transparent;
    }
    .sankaku:hover{
      border-color: #ffffff transparent transparent transparent;
    }
    .info{
       display: none;
       width:100px;
       height:100px;
       position:absolute;
       top:40px;
       right:-20px;
       background: white;
    }
    .info ul{
        list-style-type :none;
    }

    .user-info{
      margin: 0;
      padding: 0;
        list-style-type :none;

    }




    /*左コンテナー                      */
 .main-outer{
              width:1040px;
              height:660px;
              background-color: white;
              margin:0 auto;
              overflow: hidden;
              }
  .outer-left{
              width:340px;
              height:660px;
              float:left;
  }
  .search-form{
              height:40px;
              /*background-color: red;*/
              padding-left: 30px;
            }
  .input-search{
              -webkit-appearance: none;
              height: 40px;
              width:295px;
       }
  .talk-list{
              height:550px;
              overflow: auto;

  }
  .talklist{
        margin:0;
        padding:0;
        list-style-type :none;
        list-style-type :none;
            /*box-sizing:border-box;*/
  }
  .talk-room{
             height:80px;
            box-sizing:border-box;
            padding:10px;
            border-bottom: 1px solid #e3e3e3;
           }

  .talk-room-detail{
            height:60px;
            position:relative;
  }
  .user-image{
             position:absolute;
             left:10px;
             top:0;
             width: 50px;
             height: 50px;
  }

  .user-thumb{
             border-radius: 50%;
             height:50px;
             width: 50px;
  }
  .user-medium{
            border-radius: 50%;
             height:150px;
             width: 150px;
  }
  .user-info{
             padding-left:70px;
             height:60px
  }
  .user-name{
              font-weight: 600;
              margin-bottom: 6px;
              padding-right: 100px;
              white-space: nowrap;
              overflow: hidden;
              line-height: 1;
              font-size: 13px;
  }
  .last-talk{
             padding-right: 50px;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
             font-size:12px;
  }
  .date{
             position:absolute;
             right:10px;
             top:0;
             font-size:11px;
             line-height: 1;
  }
  .talk-count{
              position:absolute;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              top:15;
              right:10px;
  }
  .talk-tab {
            height:70px;
            width:340px;
  }
    .talk-tab ul{
        margin:0;
        padding:0;
        list-style-type :none;
        text-align:center;
  }
  .talk-tab li{
      width:33%;
      float:left;
      margin-top:20px;
   }






    /*右コンテナー */
    .outer-right{
              width:700px;
              height:660px;
              float:right;
  }
  .talk-user{
              height:40px;
              /*background-color: red;*/
              position: relative;
  }
  .talk-user-image{
             position:absolute;
             left:10px;
             top:5;
             width: 30px;
             height: 30px;
             border-radius: 50%;
  }
  .talk-user-name{
              font-weight: 600;
              position:absolute;
              left:70px;
              top:15px;
              line-height: 1;
              font-size: 13px;
  }
  .talk-session{
            position:absolute;
            top:50px;
            height:520px;
            width:700px;
            overflow: auto;
  }

  .talk-session-date{
     margin:10px;
     width:100%;
     position: relative;
     box-sizing:border-box;
              overflow: hidden;

  }
  .session-date{
     /*background: blue;*/
     text-align: center;
     padding: 10px 10px 10px;
  }
  .talk-session-you{
     border-radius:5px;
     float:left;
     margin:10px 5px 10px 20px;
  }

  .talk-content-you{
    margin:0;
    padding:0;
    width:550px;
    word-wrap:break-word;
     background:#eee;
     border-radius:5px;
  }
  .talk-content-me{
    margin:0;
    padding:0;
    width:550px;
    word-wrap:break-word;
     background:#eee;
     border-radius:5px;
  }
  .talk-session-me{
     border-radius:5px;
     float:right;
     margin:10px 20px 10px 20px;
  }

  .talk-text{
    height: 70px;
    position:relative;
    top:550px;
  }
  textarea{
              -webkit-appearance: none;
              height: 70px;
              width:700px;
  }



.tab{overflow:hidden;}


.tab li.select{background:#eee;}


.hide {display:none;}


 .talk-text #message{
              -webkit-appearance: none;
              height:50px;
              width:450px;
       }
  .talk-text #send{
              -webkit-appearance: none;
              height:50px;
              width:100px;
  }
